@import 'nib'

background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  -o-background-size arguments
  background-size arguments

a, a:link
  cursor pointer

body
html
  height 100%

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.frame
  height 100%
  position relative
  margin 0

.inner
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  height 100%
  max-height 900px

.theme-family .inner
  background url(../images/family_dinner.jpg) no-repeat center center fixed
  background-size cover

.theme-bridge .inner
  background url(../images/goldengate.jpg) no-repeat center center fixed
  background-size cover

.theme-christmas .inner
  background url(../images/christmas_lights.jpg) no-repeat center center fixed
  background-size cover

.message
  color white
  position absolute
  bottom 300px
  left 0
  right 0
  background url

.message-text
  margin 0 auto
  width 700px

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family "Alegreya", Helvetica, Arial, sans-serif;
  font-weight 500
  line-height 1.1

.greeting
  position absolute
  top 40%
  left 0
  right 0